---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/uyupun_logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ぅゅ...ぷんぽぷんぽ</title>
	</head>
	<body>
		<img src="/uyupun_logo.png" alt="Uyupun Logo" width="700" />
		<p>ぅゅ...ぷんぽぷんぽ──関西を中心に活動をする謎のエンジニアリング集団。2017年、大阪の専門学校にて結成。勉強会の登壇やカンファレンスのスタッフ、ハッカソンへの出場等を通して親睦を深める。近年ではサラリーマンとして日々社会貢献を続けている他、趣味プログラミングを通して日夜、技術力に磨きをかけている。その常識に囚われないユニークな思考や活動は各所に大きな影響を与えており、今、インターネットが最も注目するチームのひとつである。</p>
	</body>
</html>
