---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import LinksSection from '../components/LinksSection.astro';
import MembersSection from '../components/MembersSection.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="flex flex-col items-center justify-start min-h-screen p-8 pt-4">
    <Header />
    <LinksSection />
    <MembersSection />
    <ContactSection />
    <Footer />
  </div>
</Layout>
