---
// フッターコンポーネント
---

<footer class="mt-12 w-full max-w-2xl md:max-w-lg lg:max-w-2xl">
  <p class="text-8xl font-bold text-center footer-text">CHIMERATECH<br />RENAISSANCE</p>
</footer>

<style>
  .footer-text {
    font-family: "Pirata One", cursive;
  }
</style>
