---
// メンバーセクションコンポーネント
import MemberCard from './MemberCard.astro';
---

<div class="mt-12 w-full max-w-2xl md:max-w-lg lg:max-w-2xl">
  <h2 class="text-2xl font-bold text-center mb-6">Members</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-1 lg:gap-2">
    <MemberCard
      name="Takashi"
      roles={["Frontend Engineer", "UX Designer"]}
      imageUrl="/members/takashi.webp"
      websiteUrl="https://takashimelon.com/"
      alt="Takashi"
    />

    <MemberCard
      name="Kakky"
      roles={["Hardware Engineer", "Backend Engineer", "Agitator"]}
    />

    <MemberCard
      name="Kazukichi"
      roles={["Software Engineer", "Visual Designer", "Creative Director"]}
      imageUrl="/members/kazukichi.png"
      websiteUrl="https://tyokinuhata.github.io/"
      alt="Kazukichi"
    />

    <MemberCard
      name="Murata"
      roles={["Software Engineer"]}
      imageUrl="/members/murata.png"
      websiteUrl="https://takumiokayasu.github.io/"
      alt="Murata"
    />

    <MemberCard
      name="Daisuke"
      roles={["Backend Engineer", "Props Designer"]}
    />

    <MemberCard
      name="Tatsuo"
      roles={["Construction Worker"]}
    />
  </div>
</div>
