---
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="(´･ェ･｀)「あ、もしもし？ぅゅだけど…うん、そうぷんぽぷんぽ」">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/uyupun_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>ぅゅ...ぷんぽぷんぽ</title>
  </head>
  <body>
    <slot />
  </body>
</html>
