---
import "../styles/global.css";
import IridescentBackground from "../components/IridescentBackground.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="(´･ェ･｀)「あ、もしもし？ぅゅだけど…うん、そうぷんぽぷんぽ」">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>UYUPUN</title>
  </head>
  <body>
    <IridescentBackground />
    <slot />
  </body>
</html>
